.titleContainer {
  position: relative;
  bottom: 60px;
  max-width: 80vw;
  max-height: 100%;
}
.title {
  font-weight: 400;
  text-align: center;
  color: #222222;
  font-size: 2.5rem;
  letter-spacing: var(--mainSpacing);
  white-space: normal;
}
