.titleContainer {
  top: 800px;
  position: sticky;
}
.title {
  font-weight: 300;
  max-width: 80vw;
  text-align: center;
  color: #222222;
  line-height: 1.2em;
  font-size: 2.5rem;
  letter-spacing: var(--mainSpacing);
}
