nav {
  font-size: 0.8rem;
  letter-spacing: var(--mainSpacing);
  width: 100%;
  color: #111;
  transition: var(--mainTransition);
 }
.gridUpperContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  box-sizing: border-box;
}
.gridUpperContainer .gridUpperToggle {
  cursor: pointer;
  text-align: center;
  margin: 20px auto;
}
.gridUpperContainer .gridUpperLogo {
  margin: 0 auto;
}
.gridUpperContainer .gridUpperLogo img {
  height: auto;
  max-width: 100%;
}
.gridLowerContainer {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 40px;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  box-sizing: border-box;
}
.gridLowerContainer li.gridItem {
  padding: 15px;
  list-style: none; 
  margin-left: 2px; 
  margin-right: 2px;
  text-align: center;
  text-transform: uppercase;
 }
.gridLowerContainer li.gridItem a {
  text-decoration: none;
  color: #111;
}
@media screen and (max-width: 1183px) {
  .gridLowerContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 661px) {
  .gridLowerContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
