nav ul {
  padding: 0 38px;
}
a {
  font-size: 15px;
  line-height: 32px;
  color: #111111;
  font-style: normal;
  font-weight: 400;
}
.gridUpperContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.gridUpperContainer .gridUpperToggle {
  margin: 20px auto;
}
.gridUpperContainer .gridUpperToggle .navBtn {
  border: none;
  color: #100d21;
  cursor: pointer;
  letter-spacing: var(--mainSpacing);
  outline: none;
  visibility: collapse;
}
.gridUpperContainer .gridUpperLogo img {
  margin: 0 auto;
}
.gridUpperContainer .gridUpperLogo img {
}
.gridLowerContainer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  transition: var(--mainTransition);
}
.gridLowerContainer li.gridItem {
  padding: 8px;
  list-style: none; 
  text-align: center;
  text-transform: uppercase;
 }
.gridLowerContainer li.gridItem a {
  text-decoration: none;
  line-height: 1.5rem;
}
@media screen and (max-width: 1183px) {
  ul {
    padding: 0 8px;
  }
  .gridLowerContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 661px) {
  .gridLowerContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .gridUpperContainer .gridUpperToggle .navBtn{
    visibility: visible;
  }
  .hideLower {
    height: 0;
    overflow: hidden;
    transition: height 0.36s linear;
 }
  .showLower {
    height: 333px; 
    overflow: hidden;
    transition: height 0.36s linear;
 }
  .gridLowerContainer li.gridItem a {
   line-height: 0;
 }
 div.gridUpperToggle {
   width: 30%;
   text-align: center;
   border-bottom: 1px solid #bebcbf;
   padding: 2px;
 }
.gridUpperContainer .gridUpperLogo{
  visibility: collapse;
  height: 0;
 }
}
