.footer {
  margin-top: auto;
  background: var(--mainWhite);
  padding: 2rem;
  text-align: center;
  color: var(--mainBlack);
}
.icons a {
  display: inline-block;
  margin: 1rem;
  font-size: 2.0rem;
  transition: var(--mainTransition);
}
.icons a:hover {
  color: var(--mccPink);
}
.information {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  line-height: 32px;
}
.follow {
  margin-top: 20px;
  font-size: 21px;
  font-style: italic;
}
.facebook{
  background: white;
  color: #3b5998;
}
.youtube {
  background: white;
  color: #c4032b;
}
.instagram{
  color: #125688;
  background: var(--offWhite);
}
.phone, .email {
  font-weight: 400;
  margin: 5px 15px 5px 15px;
  font-size: 21px;
  text-transform: lowercase;
  color: var(--mainFont);
  display: inline-block;
}
.tilda {
  font-weight: 400;
}
.address{
  margin-top: 10px;
}
.copyright, .rights {
  margin: 5px;
  display: inline-block;
}
@media screen and (max-width: 653px) {
  .comma, .tilda {
    display: none;
  }
  .copyright, .rights, .street, .cityState, .phone, .email {
    display: block;
  }
}
