@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mccPink: #ff665e;
  --mainFont: #5c5c5c;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 1px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
html {
    background-image: none;
    background-position: top left;
    background-size: auto;
    background-attachment: scroll;
    background-repeat: repeat;
    background-color: var(--mccPink);
    color: var(--mainFont);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    margin: 0 auto;
    max-width: 1030px;
}
body {
    background-color: var(--mainWhite);
    margin: 55px auto;
}

/* white background on smaller screens */
@media screen and (max-width: 1024px) {
  html {
    background-color: var(--mainWhite);
  }
}
