/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&display=swap');*/
@import url("https://use.typekit.net/hwt7dfz.css");

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #ff7e78;
  --primaryComplement: #71a9ec;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mccPink: #ff665e;
  --mccPinkAlt:  #ff7e78;
  --mainFont: rgba(16, 13, 33, 0.7); 
  --mainTransition: all 0.3s linear;
  --mainSpacing: 1px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
html{
    background-image: none;
    background-position: top left;
    background-size: auto;
    background-attachment: scroll;
    background-repeat: repeat;
    background-color: var(--mccPink);
    font-style: normal;
    max-width: 1030px;
    line-height:27px;
    font-size: 100%;
}
body {
  margin: 5%;
  background-color: var(--mainWhite);
  font-family: proxima-nova, sans-serif;
  font-size: 15px;
  color: var(--mainFont);
  font-style: normal;
  font-weight: 300;
  line-height: 1.6em;
}
h1,h2,h3,h4,h5,h6{
  margin: 1em 0 .3em;
}
a {
  letter-spacing: var(--mainSpacing);
}
.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryComplement);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryComplement);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryComplement);
}
.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}

/* white background on smaller screens */
@media screen and (max-width: 1024px) {
  body {
    margin: 2px;
    background-color: var(--mainWhite);
  }
}
