.flexibleParent1, .flexibleParent2 {
  display: flex;
  margin: 30px auto;
  flex-direction: row;
  max-width: 80%;
}
.flexibleParent2 {
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}
.flexibleParent1 > div {
  margin-top: 20px;
}
.professional {
  font-size: 30px;
  line-height: 42px;
  color: rgba(179,0,0,.8);
  font-style: normal;
  font-weight: 400;
  margin: 0 0 9px;
  letter-spacing: 1px;
  text-align: center;
}
.availablity {
  color: #524c4c;
  font-style: italic;
  font-weight: 400;
  line-height: 1.5em;
  font-size: 1.4em;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 1px;
}
.yesNo > ul{
  font-size: 15px;
  font-weight:300;
  list-style: none;
}
.long{
  display: block;
}
ul li {
  line-height:1.8em;
}
@media screen and (max-width: 600px) {
  .flexibleParent1{
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.yesNo > ul >  li>*:first-child::before{
  content: "\2022";
  padding-right: 10px;
}
